    </main>
</body>

<footer class="page-footer deep-purple darken-1" id="text">
    <div class="container">
      <div class="row">
        <div class="col 16 s12">
          <h5><i class="material-icons">contact_phone</i>  Contact Us</h5>
          <p>Email: xxxxxxxx@gmail.com</p>
          <p>Phone: (XXX)XXX-XXXX </p>
          <h5 class="center">Thank you for shopping with us!</h5>
        </div>
      </div>
    </div>
</footer>

</html>