 <%- include('./partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo" id="headtitle">HDD MedSupply</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href=""><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="/products">Products</a></li>
            <li class="active"><a href="/orders">Orders</a></li>
             <i class="material-icons">shopping_cart</i></a></li>
          </ul>
    </nav>
    
    
</body>

<%- include('./partials/footer') %>