 <%- include('./partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">HDD Medsupply</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href=""><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="">Button 2</a></li>
            <li class="active"><a href="" class="btn-floating red pulse">
             <i class="material-icons">shopping_cart</i></a></li>
          </ul>
    </nav>
    
    <div class="container">

    <div class="divider"></div>
    <div class="section">
      <h5>Section 1</h5>
      <p>Stuff</p>
    </div>

    <div class="divider"></div>
    <div class="section">
      <h5>Section 2</h5>
      <p>Stuff</p>
    </div>
   

  </div>



       


       



       
    
</body>

<%- include('./partials/footer') %>