 <%- include('./partials/header') %>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">HDD Medsupply</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href=""><span>Home</span><i class="material-icons left">home</i></a></li>
            <li class="active"><a href="">Button 2</a></li>
            <li class="active"><a href="" class="btn-floating red pulse">
             <i class="material-icons">shopping_cart</i></a></li>
          </ul>
    </nav>
    
<div class="container">

  <div class="divider"></div>
  <div class="section">
    <h5>Best Sellers</h5>


    <div class="row">
      <div class="col s12 m6 l5">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/facemask.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h5>Product Name</h5>
            <p>Product Description goes here</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l5">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/gloves.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h5>Product Name</h5>
            <p>Product Description goes here</p>
          </div>
        </div>
      </div>

  <div class="col s12 m6 l5">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/n95.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h5>Product Name</h5>
            <p>Product Description goes here</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l5">
        <div class="card horizontal">
          <div class="card-image">
            <img src="images/testkit.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h5>Product Name</h5>
            <p>Product Description goes here</p>
          </div>
        </div>
      </div>
      

    </div>
  
  
  
 

  
  <div class="divider"></div>
  <div class="section">
    <h5>Products</h5>
    <p>Stuff</p>
  </div>

      

  </div>

    
</body>

<%- include('./partials/footer') %>