.container {
    display: flexbox;
}

#information-header{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#knowledge {
    text-align: center;
}
#name {
    text-align: center;
}
#info {
    color: black;
    text-align: center;
}

#card {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
#end {
    text-align: center;
}