.container {
    display: flexbox;
}


#information-header{
    text-align: center;
    font-family: 'Cardo', serif;
}
#knowledge {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
#information {
    border:3px; 
    border-style:solid; 
    border-color:rgb(91, 94, 179); 
    padding: 3em;
}


#name {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
#info {
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#card {
    color: blue;
    font-family: 'Source Sans Pro', sans-serif;
}
#end {
    text-align: center;
}

#img {
    
    width: 20%;
    margin-left: 40%;
    position: center;
    display: inline-block;
    vertical-align: middle;
}

  

#productcards{
    font-size: 15px;
}

#headtitle {
    font-family: 'Cardo', serif;
}

#text{
    font-family: 'Source Sans Pro', sans-serif;
}


.page-footer {
    margin-top: 20%;
}

