<%- include('../partials/header') %>

<body>
    <nav>
      <div class="nav-wrapper deep-purple lighten-1">
          <a href="#" class="brand-logo" id="headtitle">HDD MedSupply</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/products"><span>Home</span><i class="material-icons left">home</i></a></li>

            <li class="active"><a href="/orders"><span>Orders</span><i class="material-icons left">chat</i></a></li>
            <li class="active"><a href="/orders/new"><span>New Order</span><i class="material-icons left">add_box</i></a></li>

          </ul>
    </nav>

<main>
    <div class="input-field">
    <div class="row">
        <form class="col s12" action="/products" method="POST">
          <div class="row">

            <div class="input-field col s6">
              <input placeholder="" id="first_name" type="text" name="name">
              <label for="first_name" class="active">Product Name</label>
            </div>
            
                <div class="input-field col s6">
                <input id="last_name" type="text" name="price">
                <label for="last_name" class="active">Product Price</label>
                </div>
            </div>
            
              <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" name="description">
                  <label for="textarea1" class="active">Product Description</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" name="imageURL">
                  <label for="textarea1" class="active">Image URL</label>
                </div>
              </div>
           

            <button class="btn waves-effect waves-light" type="submit" >Submit
                <i class="material-icons right">send</i>
            </button>
          
        </form>
      </div>
    </div>



</main>
<%- include('../partials/footer') %>